<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
	<link rel="stylesheet" href="./style.css" />
</head>
<body>
    <div id="app">
        <!-- header start -->
        <header class="bar bar-nav">
            <a class="icon icon-star pull-left"></a>
            <a class="icon icon-edit pull-right"></a>
            <h1 class="title">TodoList</h1>
        </header>
        <!-- header end -->
        <!--content start-->
        <div class="content">
	        <div class="card" v-for="todo of showTodos" :key="todo.id">
			    <div class="card-content">
			      <div class="card-content-inner" >
			      	<p>{{ todo.title }}</p>
			      	<div class="btn-box">
			      		<button @click="todo.isFinished = !todo.isFinished" :class="{'button-fill':todo.isFinished}" class="button button-success"><i class="icon icon-check"></i>
			      			
			      		</button>
			      		<button @click="checkFinished( todo.id,todo.isFinished )" class="button button-danger"><i class="icon icon-remove"></i>
			      		</button>
			      	</div>
			      </div>
			    </div>
  			</div>
  		</div>
  		<!--content end-->
  		<!--remove message start-->
  		<div v-if="isRemoveShow" @click="isRemoveShow=false" class="remove-message">
  			<div class="modal modal-in" style="display: block; margin-top: -57px;">
  				<div class="modal-inner" style="background:#fff;">
  					<div class="modal-text">事项还未完成,真的要删除么？</div>
  				</div>
  				<div class="modal-buttons" @click="removeTodo(preRemoveId)">
  					<span class="modal-button modal-button-bold" style="background:#fff;">确定</span>
  				</div>
  			</div>
  		</div>
  		<!--remove message end-->
  		<!--show btns start-->
  		<div class="btns-box show-btns">
  			<div @click="activeShowType = btn.type" :class="['circle-' + btn.theme,(btn.type === activeShowType)?'circle-fill':'']" v-for="btn in showBtns" :key="btn.id" class="circle">{{ btn.title }}</div>
  		</div>
  		<!--show btns end-->
    </div>
    <!-- 在开发环境下不要使用压缩版本，不然你就失去了所有常见错误相关的警告! -->
    <script src="./base/vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>